openai
python-dotenv
Flask
flask_swagger_ui
langchain
tiktoken
langchain-openai 
faiss-cpu 
google-search-results
fastapi
uvicorn
numpy
pandas
plotly
jupyterlab
notebook
langchain_experimental
Flask-Cors